{% extends 'dashboard_base.html.twig' %}

{% block body %}
    <h1 class="text-center text-light mx-auto pt-5 pb-5">Edit "{{ character.name }}"</h1>
    
    <div class="container mx-auto lw-box-1 p-4">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.picture) }}
        
       {# {{ form_row(form.pictureFile) }} #}
        
        <button type="submit" class=""> Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_characters') }}" class="text-light">Retour</a>
     </div>
{% endblock %}