{% extends 'dashboard_base.html.twig' %}

{% block body %}
    <h1 class="text-center text-light mx-auto pt-5 pb-5">Upload a new background</h1>
    
    <div class="container mx-auto lw-box-2 p-4" style="width: 70rem;">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.pictureFile) }}
        
        <button type="submit" class="btn btn-primary text-light mt-3"> Upload background</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_show_backgrounds') }}" class="btn btn-primary text-light mt-3">Go Back</a>
     </div>
{% endblock %}